<p>Follow the link below to change your password:</p>

<%var passwordChangeLink = url + '/account/password/' + passwordCode;%>
<a href="<%-passwordChangeLink%>" target="_blank"><%-passwordChangeLink%></a>

<p><b>Thank you for using <%=title%>!</b></p>