<% include ../common/head %>
<% include ../common/header %>
    <div class="main-container clearfix">
        <div class="main wrapper">
                <center>
                    <h2>Your account has been activated!</h2>
                </center>
        </div>
    </div>
<% include ../common/footer %>
