<% include ../common/head %>
<% include ../common/header %>
<div class="main-container clearfix">
    <div class="main wrapper">

<% if (form) { %>

        <h2>Enter your new password</h2>
        <form method="post">
            <input type="password" name="password">
            <br>
            <%- captcha %>
            <br>
            <button style="submit">Submit</button>
        </form>

<% } else { %>

        <p>Your password was changed successfully.</p>

<% } %>
    </div>
</div>
<% include ../common/footer %>
