<% include ../common/head %>
<% include ../common/header %>

<div class="main-container clearfix">
    <div class="main wrapper">

<% if (form) { %>

<h2>Enter your email address</h2>
<form method="post">
    <input type="email" name="email">
    <br>
    <%- captcha %>
    <br>
    <button style="submit">Submit</button>
</form>

<% } else { %>

<p>An email with a link to password change form was sent your way.</p>

<% } %>
    </div>
</div>
<% include ../common/footer %>
