
body {

    font-family: pt-sans, sans-serif;

    font-size:100%;

    padding:0;

}

.header-container {

    width:100%;

    padding:0;

    background-color:#e2e44f;

}

header.wrapper {

    padding:3em 0;

}

.wrapper {

    max-width:80em;

    margin:auto;

    background-color:#ddd;

}

.logo {

    float:left;

    margin-left: 5.5em;

    margin-top: 2.5em;

}

.page-titles {

    display:inline-block;

    text-align: center;

    width:60%;

}

h1.page-title {

    color: rgb(205, 54, 49);

    font-size: 5.8em;

    margin-top:0;

    margin-bottom:0.25em;

}

h2.page-title {

    color: #FFFFFF;

    font-size: 4em;

    margin-top:0;

    margin-bottom:0.2em;

}

h3.page-title {

    color: rgb(88, 201, 126);

    font-size: 2em;

    margin:0;

}