<p>Activate your account by following link below:</p>

<%var activationLink = url + '/account/activate/' + activationCode;%>
<a href="<%-activationLink%>" target="_blank"><%-activationLink%></a>

<p><b>Thank you for using <%=title%>!</b></p>