<p>We have found some updates for you:</p>

<p>
    <%for(var i = 0, len = updates.length, update; i < len; i++) {
        update = updates[i];%>
        <%= update.name %>
    <%}%>
</p>

<p><b>Thank you for using <%=title%>!</b></p>