        <div class="footer-container clearfix">
            <footer class="wrapper">
                <a href="https://github.com/pwalczyszyn/npm-onupdate" title="npm-onupdate on GitHub" target="_blank">
                    <img src="static/img/github.svg" class="footer-icon">
                </a> | <a href="https://twitter.com/outof_me" title="npm-onupdate on Twitter" target="_blank">
                    <img src="static/img/twitter.svg" class="footer-icon">
                </a> |  <a href="about">About</a> | <a href="policy">Privacy Policy</a> | <a href="terms">Terms and Conditions</a>
            </footer>
        </div>
