<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= locals.title || 'npm-onupdate' %></title>
    <meta name="description" content="NPM registry email notification service">
    <meta name="keywords" content="npm,email,updates,notification,service,node,Node.js">
    <meta name="author" content="Piotr Walczyszyn">
</head>
<body>

