        <div class="header-container clearfix">
            <header class="wrapper">
                <a href="/" title="npm-onupdate homepage">
                    <img src="/static/img/logo.svg" class="logo">
                </a>
                
                <div class="page-titles">
                    <h1 class="page-title">npm-onupdate</h1>
                    <h2 class="page-title">NPM registry email 
        notification service</h2>
                    <h3 class="page-title">stay up-to-date with packages you use</h3>
                </div>
            </header>
        </div>
