<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= locals.title || 'npm-onupdate' %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="NPM registry email notification service">
        <meta name="keywords" content="npm,email,updates,notification,service,node,Node.js">
        <meta name="author" content="Piotr Walczyszyn">
    
        <link rel="stylesheet" href="static/css/style.css">
    
        <!--[if lt IE 9]>
            <script src="static/js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
        
        <script src="http://use.edgefonts.net/pt-sans;source-code-pro.js"></script>    
    </head>
    <body>