<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= locals.title || 'npm-onupdate' %></title>
    <meta name="description" content="NPM registry email notification service">
    <meta name="keywords" content="npm,email,updates,notification,service,node">
    <meta name="author" content="Ståle Refsnes">
</head>
<body>

