<% include ../common/head %>
<% include ../common/header %>

        <div class="main-container clearfix">
            <div class="main wrapper textual-block">
                <strong>npm-onupdate</strong> is a side project of <a href="http://outof.me" target="_blank">Piotr Walczyszyn</a> and a contribution for the Node.js community.
                    Esentially it's a <a href="https://npmjs.org/">NPM</a> registry email notifications service, that let's it's users stay up-to-date with the packages used in their Node.js projects. When npm package is updated in the registry, users can receive email message about it. Both CLI tool and the server side code is open source and available on GitHub <a href="https://github.com/pwalczyszyn/npm-onupdate">here</a> and <a href="https://github.com/pwalczyszyn/npm-onupdate-server">here</a> (pull requests are welcome). The service is hosted on the <a href="https://www.openshift.com/">OpenShift PaaS</a> by Red Hat. The pictograms used on this website are from Entypo by Daniel Bruce — <a href="http://www.entypo.com">www.entypo.com</a>.
            </div> <!-- #main -->
            
        </div> <!-- #main-container -->

<% include ../common/footer-links %>
<% include ../common/footer %>
