<% include ../common/head %>
<% include ../common/header %>

        <div class="main-container clearfix">
            <div class="main wrapper textual-block">
                <strong>npm-onupdate</strong> is a side project of <a href="http://outof.me" target="_blank">Piotr Walczyszyn</a> and a contribution for the Node.js community.
                    Essentially it's an <a href="https://npmjs.org/">NPM</a> registry email notifications service that enables its users to stay up-to-date with the packages used in their Node.js projects. When an npm package is updated in the registry, users will receive an email message about it. Both the CLI tool and the server side code are open source and available on GitHub <a title="npm-onupdate on GitHub" href="https://github.com/pwalczyszyn/npm-onupdate" target="_blank">here</a> and <a title="npm-onupdate-server on GitHub" href="https://github.com/pwalczyszyn/npm-onupdate-server" target="_blank">here</a> (pull requests are welcome of course). For now the service is hosted on the <a title="OpenShift" href="https://www.openshift.com/" target="_blank">OpenShift PaaS by Red Hat</a>, with a single gear for a <a title="MongoDB" href="http://www.mongodb.org/" target="_blank">MongoDB</a> and a two gear cluster for the Node.js app. Hopefully this will be enough to handle the load, at least for some time. The pictograms used on this website are from Entypo by Daniel Bruce — <a href="http://www.entypo.com">www.entypo.com</a>.
            </div> <!-- #main -->
            
        </div> <!-- #main-container -->

<% include ../common/footer-links %>
<% include ../common/footer %>
