<% include ../common/head %>
<% include ../common/header %>

        <div class="main-container clearfix">
            <div class="main wrapper textual-block">
                <h3>INSTALLATION</h3>
                <code class="code-block">
                    $ npm install -g npm-onupdate
                </code>
                
                <h3>USAGE</h3>
                <h4>Adding new package alert</h4>
                <code class="code-block">
                    $ npm-onupdate add express
                </code>
                <h4>Adding multiple package alerts</h4>
                <code class="code-block">
                    $ npm-onupdate add 'express ejs'
                </code>
                <h4>Adding alerts for all dependencies from package.info file in current dir</h4>
                <code class="code-block">
                    $ npm-onupdate add
                </code>
                <h4>Removing package alert</h4>
                <code class="code-block">
                    $ npm-onupdate rm express
                </code>
                <h4>Removing multiple package alerts</h4>
                <code class="code-block">
                    $ npm-onupdate rm 'express ejs'
                </code>
                <h4>Listing all registered alerts</h4>
                <code class="code-block">
                    $ npm-onupdate ls
                </code>
                <h4>Get account info</h4>
                <code class="code-block">
                    $ npm-onupdate account info
                </code>
                <h4>Change account password</h4>
                <code class="code-block">
                    $ npm-onupdate account password
                </code>
                <h4>Delete account</h4>
                <code class="code-block">
                    $ npm-onupdate account delete
                </code>
                <h4>Logout</h4>
                <code class="code-block">
                    $ npm-onupdate account logout
                </code>
            </div> <!-- #main -->
            
        </div> <!-- #main-container -->

<% include ../common/footer-links %>
<% include ../common/footer %>
