<% include ../common/head %>
<% include ../common/header %>

        <div class="main-container clearfix">
            <div class="main wrapper">
                <div>
                    <div class="tut-step">
                        <div class="tut-step__title">
                            <img src="static/img/install.png" class="tut-step__title__img">  
                            installation
                        </div>
                        <div class="tut-step__content">
                            <p>Couldn’t be simpler than that:</p>
                            <code class="code-block">
                                $ npm install -g npm-onupdate
                            </code>
                        </div>
                    </div>
                    <div class="tut-step">
                        <div class="tut-step__title">
                            <img src="static/img/bell.png" class="tut-step__title__img">  
                            usage
                        </div>
                        <div class="tut-step__content">
                            <p>Adding new package alert:</p>
                            <code class="code-block">
                                $ npm-onupdate add express
                            </code>
                        </div>
                    </div>
                    <div class="tut-step">
                        <div class="tut-step__title">
                            <img src="static/img/email.png" class="tut-step__title__img">  
                            notifications
                        </div>
                        <div class="tut-step__content">
                            Sit down, relax, and wait for the notifications to show up in your mailbox.
                        </div>
                    </div>
                </div>
                <p class="docs-info">
                    <a href="docs" class="docs-info__link" title="npm-onupdate docs">~ complete documentation can be found here ~</a>
                </p>
            </div> <!-- #main -->
            
        </div> <!-- #main-container -->

<% include ../common/footer-links %>
<% include ../common/footer %>
